@media print {  
  @page {
    size: 8.5in 13in; /* landscape */
    /* you can also specify margins here: */
    margin: 10mm;
    margin-right: 45mm; /* for compatibility with both A4 and Letter */
  }
}
body{
	font: 12px, "Calibri";
}

.main{
	background-color: white;
	color: black;
	width: 900px;
/*    margin-left: 300px;*/
    margin-right: 300px;
    height: 1700px;
    padding-top: 50px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 75px;
}

.inst{
	text-align: center;
	font-size: 17px;
}

.info{
	text-align: center;
	font-size: 13px;
}

.underline{
	padding: 2px;
	text-align: center;
}

/*box-1*/
#box-1{
	margin-top: 20px;
	max-width: 750px;
	max-height: 175px;
	width: 800px;
	border-bottom-width: 4px;
	border-bottom-color: black;
	border-bottom-style: double;
}

#heading-1{
	width: 400px;
	margin-left: 180px;
	margin-top: -120px;
}

#img-1{
	width: 110px;
	height: 110px;
	margin-left: 70px;
	margin-top: 5px;
}

#img-2{
	margin-left: 385px;
	width: 130px;
	height: 130px;
}

#formname{
	width: 200px;
}

.underline{
	height: 20px;
}

#b1-r1-p1{
	margin-right: 5px;
	width: 30px;
}

#b1-r1-d1{
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-left: 65px;
	width: 225px;
	height: 20px;
	margin-top: -30px;
}

#b1-r1-p2{
	margin-left: 300px;
	margin-right: 5px;
	width: 100px;
	margin-top: -18px;
}

#b1-r1-p3{
	margin-left: 400px;
	margin-right: 20px;
	width: 40px;
	margin-top: -30px;
}

#b1-r1-d2{
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-left: 435px;
	width: 60px;
	margin-top: -30px;
	margin-right: 15px;
}

#b1-r1-p4{
	margin-left: 515px;
	margin-right: 20px;
	width: 40px;
	margin-top: -20px;	
}

#b1-r1-d3{
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-left: 560px;
	width: 90px;
	margin-top: -30px;
	margin-right: 15px;
}

#b1-r1-p5{
	margin-left: 660px;
	margin-right: 20px;
	width: 80px;
	margin-top: -19px;
}

#b1-r1-d4{
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-left: 700px;
	width: 50px;
	margin-top: -30px;
	margin-right: 15px;
}

#b1-r2-p1{
	margin-right: 5px;
	margin-top: 2px;
	width: 85px;
}

#b1-r2-p2{
	margin-left: 120px;
	margin-top: -29px;
	width: 85px;
}

#b1-r2-d1{
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-left: 180px;
	width: 110px;
	margin-top: -30px;
	margin-right: 15px;
}

#b1-r2-p3{
	margin-left: 300px;
	margin-top: -20px;
	width: 97px;
}

#b1-r2-d2{
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-left: 435px;
	width: 125px;
	margin-top: -30px;
	margin-right: 15px;
}

#b1-r2-p4{
	margin-left: 575px;
	margin-top: -20px;
	width: 97px;
}

#b1-r2-d3{
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-left: 650px;
	width: 100px;
	margin-top: -30px;
	margin-right: 15px;
}

#b1-r3-p1{
	margin-right: 5px;
	margin-top: 2px;
	width: 100px;
}

#b1-r3-d1{
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-left: 650px;
	width: 170px;
	margin-right: 15px;
	margin-left: 120px;
	margin-top: -30px;
}

#b1-r3-p2{
	margin-left: 328px;
	margin-top: -20px;
	width: 90px;
}

#b1-r3-d2{
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-left: 435px;
	width: 125px;
	margin-top: -30px;
	margin-right: 15px;
}

#b1-r4-p1{
	margin-right: 5px;
	margin-top: 2px;
	width: 200px;
}

#b1-r4-d1{
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-left: 235px;
	width: 515px;
	margin-top: -30px;
	margin-right: 15px;
}

#b1-r5-p1{
	margin-right: 5px;
	margin-top: 2px;
	width: 200px;
}

#b1-r5-d1{
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-left: 200px;
	width: 70px;
	margin-top: -30px;
	margin-right: 15px;
}

#b1-r5-d2{
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-left: 290px;
	width: 270px;
	margin-top: -30px;
	margin-right: 15px;
}

#b1-r5-p3{
	margin-left: 615px;
	margin-top: -18px;
	width: 60px;
}

#b1-r5-d3{
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-left: 660px;
	width: 90px;
	margin-top: -30px;
	margin-right: 15px;
}

#b1-r6-p1{
	margin-right: 5px;
	margin-top: 5px;
	width: 70px;
	font-weight: bold;
}

#b1-r6-d1{
	margin-left: 35px;
	margin-top: -30px;
	width: 200px;
	font-weight: bold;
}


.gr{
	width: 380px;
	height: 390px;
}

#b2-r1-p1{
	margin-right: 5px;
	margin-top: 1px;
	width: 45px;
}

#b2-r1-d1{
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-left: 55px;
	width: 245px;
	margin-top: -32px;
	margin-right: 15px;
}

#b2-r2-p1{
	margin-right: 5px;
	margin-top: 3px;
	width: 45px;
}

#b2-r2-d1{
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-left: 55px;
	width: 120px;
	margin-top: -32px;
	margin-right: 15px;
}

#b2-r2-p2{
	margin-right: 5px;
	margin-top: -15px;
	margin-left: 180px;
	width: 90px;
}

#b2-r2-d2{
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-left: 300px;
	width: 70px;
	margin-top: -34px;
	margin-right: 15px;
}
#b1-r7-p3{
	margin-left: 80px;
	margin-top: -29px;
	width: 85px;
}

#b1-r7-d3{
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-left: 180px;
	width: 110px;
	margin-top: -29px;
	margin-right: 15px;
}
table{
	width: 370px;
}

.col1{
	padding-right: 120px;
	height: 20px;
	width: 40px;
}

.col2{
	padding-right: 5px;
	text-align: center;
	width: 230px;
}

.col3{
	padding-left: 10px;
	padding-right: 10px;
	height: 40px;
	width: 50px;
	text-align: center;
}
.subj{
	margin-left: 3px;
	height: 20px;
	width: 30px;
	margin-right: 15px;
	font-size: 12px;
	padding-left: 2px;
	padding-right: 2px;
	text-align: left;
}

.fr{
	border-right-color: transparent;
	border-right-width: 5px;
	border-right-style: solid;
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	height: 20px;
	width: 230px;
	margin-right: 15px;
	font-size: 12px;
	padding-left: 2px;
	padding-right: 2px;
	margin-left: 2px;
	text-align: center;
}

.at{
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-left: 73px;
	height: 20px;
	width: 100px;
	margin-right: 15px;
	font-size: 12px;
}

#b2-r18-p1{
	margin-right: 5px;
	margin-top: 3px;
	width: 100px;
}

#b2-r18-d1{
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-left: 105px;
	width: 75px;
	margin-top: -35px;
	margin-right: 15px;
}

#b2-r18-p2{
	margin-right: 5px;
	margin-left: 195px;
	margin-top: -16px;
	width: 100px;
}

#b2-r18-d2{
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-left: 295px;
	width: 75px;
	margin-top: -33px;
	margin-right: 15px;
}

#b2-r19-p1{
	margin-right: 5px;
	width: 165px;
	font-size: 11px;
}

#b2-r19-d1{
	margin-top: -33px;
	margin-left: 165px;
	width: 10px;
}

#box-2{
	width: 380px;
}

#box-3{
	margin-top: -390px;
	margin-left:375px;
	width: 350px;
}

#box-4-5{
	width: 745px;
	border-top-width: 4px;
	border-top-color: black;
	border-top-style: double;
	border-bottom-width: 4px;
	border-bottom-color: black;
	border-bottom-style: double;
}

#box-4{
	width: 380px;
}

#box-5{
	margin-top: -390px;
	margin-left:375px;
	width: 350px;
}

#box-6{
	margin-top: 20px;
	height: 85px;
	width: 745px;
	border-top-width: 4px;
	border-top-color: black;
	border-top-style: double;
	border-bottom-width: 4px;
	border-bottom-color: black;
	border-bottom-style: double;
}

#b6-r1-p1{
	font-style: italic;
	font-weight: bold;
	margin-left: 50px;
}

#b6-r1-p2{
	margin-top: -28px;
	margin-left: 300px;
}

#b6-r1-d1{	
	height: 20px;
	width: 170px;
	margin-top: -32px;
	margin-left: 365px;
	border-bottom-width: 1px;
	border-bottom-color: black;
	border-bottom-style: solid;
}

#b6-r1-p3{
	margin-top: -17px;
	margin-left: 540px;
}

#b6-r1-d2{
	height: 20px;
	width: 130px;
	margin-top: -32px;
	margin-left: 615px;
	border-bottom-width: 1px;
	border-bottom-color: black;
	border-bottom-style: solid;
}

.add-subj{
	margin-left: 3px;
	height: 20px;
	width: 100px;
	margin-right: 15px;
	font-size: 12px;
	padding-left: 2px;
	padding-right: 2px;
	text-align: left;
}

.add-fr{
/*	border-right-color: transparent;
	border-right-width: 5px;
	border-right-style: solid;
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;*/
	height: 20px;
	width: 100px;
	margin-right: 15px;
	font-size: 12px;
	padding-left: 2px;
	padding-right: 2px;
	margin-left: 2px;
	text-align: center;
}

.add-at{
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-left: 73px;
	height: 20px;
	width: 100px;
	margin-right: 15px;
	font-size: 12px;
}

.add-col1{
	height: 20px;
	width: 70px;
}

.add-col2{
	padding-right: 5px;
	text-align: center;
	width: 250px;
}

.add-col3{
	padding-left: 10px;
	padding-right: 10px;
	height: 20px;
	width: 150px;
	text-align: center;
}

#b6-r3-p4{
	margin-top: -39px;
	margin-left: 415px;
}

#b6-r3-d1{
	height: 20px;
	width: 25px;
	margin-top: -34px;
	margin-left: 510px;
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

#b6-r3-p5{
	margin-top: -15px;
	margin-left: 540px;
}

#b6-r3-d2{
	height: 20px;
	width: 120px;
	margin-top: -35px;
	margin-left: 625px;
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

#box-7{
	height: 200px;
	width: 735px;
/*	background-color: black;*/
}

/*#b7-d1{
	height: 125px;
	max-width: 650px;
}
*/
#b7-r1-p1{
	margin-top: 5px;
	font-weight: bold;
}

#b7-r1-d1{
	/*remarks?*/
}

#b7-r1-p2{
	margin-top: -30px;
	margin-left: 130px;
	width: 80px;
}

#b7-r1-d2{
	margin-top: -34px;
	margin-left: 210px;
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	height: 20px;
	max-width: 200px;
	width: auto;
}

#b7-r2-p1{
	font-weight: bold;
	margin-top: 35px;
	margin-left: 10px;
}

#b7-r4-p1{
	margin-top: 40px;
}

#box-8{
	width: 300px;
	height: 150px;
	margin-top: -35px;
	margin-left: 210px;
	text-align: center;
}

#b8-r1-p1{
	height: 20px;
}

#b8-r2-name{
	margin-top: 20px;
	width: 300px;
	height: 20px;
}

#b8-r3-pos{
	margin-top: 20px;
	width: 300px;
	height: 20px;
}

#box-9{
	width: 300px;
	height: 150px;
	margin-top: -150px;
	margin-left: 480px;
	text-align: center;
}

#b9-r1-p1{
	height: 20px;
}

#b9-r2-name{
	margin-top: 20px;
	width: 300px;
	height: 20px;
}

#b9-r3-pos{
	margin-top: 20px;
	width: 300px;
	height: 20px;
}

/*#name{
	width: auto;
	height: 20px;
	font-size: 12px;
	font-family: calibri;
	text-align: left;
	border: none;
	border-bottom: 1px solid black;
	font-style: italic;
	font-weight: bold;
}*/

#cert{
	font-size: 12px;
	font-family: calibri;
	font-style: italic;
	font-weight: bold;
	width: 700px;
	height: 55px;
}

#cert > div{
	display: inline-block;
	width: auto;
	border-bottom: 1px solid black;
	height: 15px;
	margin-left: 5px;
	margin-right: 5px;
}

/*#name-cert{
	width: 200px;
	height: 20px;
	background-color: black;
	border-bottom: 1px solid black;
	display: inline-block;
}*/

#day-cert{
	
}

#month-cert{
	
}

#grade-cert{
	
}

#program-cert{
	
}