/*CSS*/
body{
	font: 12px, "Calibri";
}
table, th, td {
    border: 1.5px solid black;
    border-collapse: collapse;
}
td {
	width: 350px;
}
p {
	padding-left: 10px;
}
.main{
	background-color: white;
	color: black;
	width: 8.5in;
	margin-right: 300px;
    margin-right: 300px;

    height: 11in;
    padding-top: 50px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 75px;
}
.inst{
	text-align: center;
	font-size: 17px;
	font-weight: bold;
	margin: 2px;
}
#month{
	text-align: center;
	/*width: 120px;*/
	height: 20px;
	margin: 20px;
	font-size: 14px;
}