body{
	font: 12px, "Calibri";
}

.main{
	background-color: white;
	color: black;
	width: 900px;
/*    margin-left: 300px;*/
    margin-right: 300px;
    height: 1700px;
    padding-top: 50px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 75px;
}


#year{
	margin-left: 390px;
	width: 80px;
	height: 20px;
	margin-top: -20px;
}

#report{
	border: 1px solid black;
}

#acc-t{
	width: 750px;
	border: 1px solid black;
}

td.col{
	width: 750px;
	height: 300px;
	border-color: black;
	border-width: 1px;
	border-style: solid;
}

tr{
	width: 500px;
	border-color: black;
	border-width: 1px;
	border-style: solid;
}

td > p{
		width: 325px;
}

#item-t{
	width: 250px;
	height: 150px;
	border-color: black;
	border-width: 1px;
	border-style: solid;
}

.inst{
	text-align: center;
	font-size: 17px;
	font-weight: bold;
}

#month{
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-left: 260px;
	width: 120px;
	height: 20px;
	border-width: 1px;
	border-style: solid;
}

#b1-col1{
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.td-4-t{
	width: 300px;
	height: 20px;
}

.td-name{
	width: 100px;
	height: 20px;
	border-color: black;
	border-width: 1px;
	border-style: solid;
}

.td-pro{
	width: 100px;
	height: 20px;
	border-color: black;
	border-width: 1px;
	border-style: solid;
}

.td-rel{
	width: 100px;
	height: 20px;
	border-color: black;
	border-width: 1px;
	border-style: solid;
}