@media screen and (min-width: 1024px) {
  .toggle { display: none; }   /* hide it elsewhere */
}

.stud-list, .subj-list, .released-list, .curriculum-list, .program-list,
.credential-list, .unclaimed-list, .transaction-list, .payment-list, .accomplishment-list, .table-list {
	font-size: 12px;
    color: #34495e;
}
.search-bar {
	margin-top: 10px;
	margin-left: 20px;
}