

#outer{

    text-align: center;
    border: 30px solid transparent;
    padding: 10px;
    border-image: url("../images/border.png") 80 80 stretch;
    margin: auto;

}

@font-face {
    font-family: 'EdwardianScriptITC'; 
    src: url('../fonts/EdwardianScriptITC.ttf');
}

@page {
    size: landscape;
    margin: 0;
}

@media print {  
  @page {
    size: 14in 17in;
    size: landscape; /* landscape */
    /* you can also specify margins here: */
    margin: 5mm;
    margin-right: 30mm; /* for compatibility with both A4 and Letter */
  }
}
.text1{
	font-size: 15px;
	font-weight: bold;
	font-family: Times New Roman;

}
.subtext{
	font-size: 18px;
	font-weight: bold;
	font-family: times New Roman

}
.text2{
   	font-size: 20px;
	font-family: Times New Roman;
	font-style: italic;
	font-weight: bold;
	word-spacing: 30px;
}

.text3{
	font-size: 38px;
	font-family: EdwardianScriptITC;
	letter-spacing: 4px;
	text-align: justify;
}


#img1{
	float: left;
	margin: 5px;
	filter: grayscale(100%);
}
#img2{

	float: right;
	margin: 5px;
	
}

#img3{
	width: 750px;
	height: 80px;
	margin:auto;

	
}


#big{
	font-size: 20px;
	font-weight: bold;
	line-height: 200%;
}

#big2{
	font-size: 35px;
	font-weight: bold;
	line-height: 200%;
}


#name{
	font-size: 58px;
	font-family: EdwardianScriptITC;
	letter-spacing: 4px;
	text-align: justify;
}

#dd{
	width: 60px;
	height: 40px;
	font-size: 35px;
	font-family: Edwardian Script;
	text-align: center;
	border: none;
	border-bottom: 2px solid black;
}

#mm{
	width: 100px;
	height: 40px;
	font-size: 35px;
	font-family: Edwardian Script;
	text-align: center;
	border: none;
	border-bottom: 2px solid black;
}

#dd1{
	width: 60px;
	height: 40px;
	font-size: 20px;
	font-family: Times New Roman;
	line-height: 200%;
	letter-spacing: 1px;
	font-style: italic;
	font-weight: bold
}
#dd2{
	width: 60px;
	height: 40px;
	font-size: 28px;
	font-family: Times New Roman;
	line-height: 200%;
	letter-spacing: 1px;
	font-style: italic;
}

#mm1{
	width: 100px;
	height: 40px;
	font-size: 20px;
	font-family: Times New Roman;
	line-height: 200%;
	letter-spacing: 1px;
	font-style: italic;
	font-weight: bold;
}

.clearfix {
    overflow: auto;
}
.div-left{
    float:left;
    padding-left:10px;
}
.div-right{
    float:right;
    padding-right:10px;
}
#mid,div-left,div-right {
	line-height: 100px;
}



