/*CSS*/
@media print {  
  @page {
    size: 8.5in 13in; /* landscape */
    /* you can also specify margins here: */
    margin: 5mm;
    margin-right: 30mm; /* for compatibility with both A4 and Letter */
  }
}
.main{
	
	background-color: white;
	color: black;	
	max-width: 10in;
	width: auto;
}
.container {
	
}

h4{
	height: 15px;
	margin-left: 20px;
}

table{
	/*width: 10in;*/
	margin-left: 20px;
}
table, th, td {
    border: 1.5px solid black;
    border-collapse: collapse;
    color: black;
}
th{
/*	width: 250px;
	height: 22px;*/
	text-align: center;
	/*border: 1px solid black;*/
}

.date{
	width: 140px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 5px;
	border: 1px solid black;
}

.or{
	width: 140px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 5px;
	border: 1px solid black;
}

.name{
	width: 260px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 5px;
	border: 1px solid black;
}

.credname{
	width: 150px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 5px;
	border: 1px solid black;
}

.amount{
	width: 80px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 5px;
	border: 1px solid black;
}

.remarks{
	width: 95px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: 1px solid black;
}

/*.t-cell{
	width: 30px;
	height: 20px;
	border: 1px solid black;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

h4{
	height: 20px;
}

th{
	width: 333px;
	height: 25px;
	text-align: center;
}

*/