.main{
<<<<<<< HEAD
	width: 11in;
	height: 8.5in;
	background-color: white;
	font-color: black;	
}

.top{
	
}

h4{
	height: 15px;
	margin-left: 20px;
}

table{
	border: 1px solid black;
	margin-left: 80px;
}

th{
	width: 250px;
	height: 22px;
	text-align: center;
	border: 1px solid black;
}

.date{
	width: 140px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 5px;
	border: 1px solid black;
}

.or{
	width: 140px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 5px;
	border: 1px solid black;
}

.name{
	width: 260px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 5px;
	border: 1px solid black;
}

.credname{
	width: 150px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 5px;
	border: 1px solid black;
}

.amount{
	width: 80px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 5px;
	border: 1px solid black;
}

.remarks{
	width: 95px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: 1px solid black;
}

/*.t-cell{
	width: 30px;
	height: 20px;
	border: 1px solid black;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}*/
=======
	width: 2339px;
	height: 1654px;
	background-color: white;	
}

h4{
	height: 20px;
}

th{
	width: 333px;
	height: 25px;
	text-align: center;
}
>>>>>>> 526272fc89a52c3ffcf5ae38f117a98d89cbdfb2
